<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net debug="false">
    <appender name="InfoLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\AltinnDesktopClient\Info.log" />
      <threshold value="Info" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <appender name="DebugLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\AltinnDesktopClient\Debug.log" />
      <threshold value="Debug" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="${APPDATA}\AltinnDesktopClient\Error.log" />
      <threshold value="Error" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <appender name="WarningLogAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="${APPDATA}\AltinnDesktopClient\Warning.log" />
      <threshold value="Warn" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <!--<appender-ref ref="DebugLogAppender" />-->
      <!--<appender-ref ref="WarningLogAppender" />-->
      <appender-ref ref="InfoLogAppender" />
      <!--<appender-ref ref="ErrorLogAppender" />-->
    </root>
  </log4net>
</configuration>